.box
{
    width: 600px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.text
{
    margin: 30px;
}
.character_text 
{
    text-align: left;
    margin: auto;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(246,246,246);
}
.background
{
    background-color: rgb(240, 240, 240);
    width: 640px;;
    height:auto;
    margin:auto;
    padding:30px;
}
.img
{
   width: 20px;
   height: 20px;
}
.indent
{
    margin-right: 10px;
}